name: GitHub validator
"on": [push, pull_request]
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v2
      - name: Lint
        run: |
          curl https://raw.githubusercontent.com/llorllale/go-gitlint/master/download-gitlint.sh | sh